.venv
.vscode
.archive
.claude
exps
runs
tea_debug.log
wandb

**devel
**logs
**build
**__pycache__
**.catkin_tools
**backup**
**.pyc
**.DS_Store
**tmp
**.e
**.o
**.sbatch
*.pt
**data
**dataset
**slurm**
**.egg-info
